{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{view_name}}</title>
        <link href="{% static 'wikiApp/style.css' %}" rel="stylesheet">
    </head>
    <body id="pageBody">
        <div id="headerWrapper">
            <div id="imgWapper">
                <a id="homeImg" href="index"><img src="../../../../low-res-logo.png" alt="Drewpedia" height=100px width=auto></a>
            </div>
            <div id="sbWrapper">
                <a id="sbItems" href="#">Sign Up</a>
                <a id="sbItems" href="#">Log In</a>
                <form action="{% url 'wiki:parsePage' %}" method="POST">
                    {% csrf_token %}
                    <input id="sbItems" type="text" name="EName" placeholder="Search..">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div id="mainWrapper">
            <div id="sideWrapper">
                <a href="{% url 'wiki:goHome' %}">Main Page</a>
                <a href="{% url 'wiki:newPage' %}">Add A Page</a>
                <a href="{% url 'wiki:randPage' %}">Random Page</a>
            </div>
            <div id="mainContent">
                <H1>Add New Page</H1>
                <form action="{% url 'wiki:pageMan' %}" method="POST">
                    {% csrf_token %}
                    <input  type="text" name="Title" placeholder="Title">
                    <input  type="text" name="Content" placeholder="Content" width=100% height=50%>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>