{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Drewpedia</title>
        <link href="{% static 'wikiApp/style.css' %}" rel="stylesheet">
    </head>
    <body id="pageBody">
        <div id="headerWrapper">
            <div id="imgWapper">
                <a id="homeImg" href="index"><img src="../../static/wikiApp/low-res-logo.png" alt="Drewpedia" height=100px width=auto></a>
            </div>
            <div id="sbWrapper">
                <a id="sbItems" href="#">Sign Up</a>
                <a id="sbItems" href="#">Log In</a>
                <input id="sbItems" type="text" placeholder="Search..">
            </div>
        </div>
        <div id="mainWrapper">
            <div id="sideWrapper">
                <a id="homeLink" href="index.html">Main Page</a>
                <a href="#">Edit This Page</a>
            </div>
            <div id="mainContent">
                lol
            </div>
        </div>
    </body>
</html>