{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{view_name}}</title>
        <link href="{% static 'wikiApp/style.css' %}" rel="stylesheet">
    </head>
    <body id="pageBody">
        <div id="headerWrapper">
            <div id="imgWapper">
                <a id="homeImg" href="index"><img src="../../../../low-res-logo.png" alt="Drewpedia" height=100px width=auto></a>
            </div>
            <div id="sbWrapper">
                <a id="sbItems" href="#">Sign Up</a>
                <a id="sbItems" href="#">Log In</a>
                <form action="http://127.0.0.1:8000/wiki/">
                    <input id="sbItems" type="text" name="" placeholder="Search..">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        <div id="mainWrapper">
            <div id="sideWrapper">
                <a id="homeLink" href="index.html">Main Page</a>
                <a href="#">Edit This Page</a>
            </div>
            <div id="mainContent">
                <H1></H1>
                {{entry_contents}}
            </div>
        </div>
    </body>
</html>